@font-face {
    font-family: 'San Francisco(SF UI)';
    src: local('San Francisco(SF UI) Display Bold'), local('San-Francisco(SF-UI)-Display-Bold'),
        url('SFUIDisplay-Bold.woff2') format('woff2'),
        url('SFUIDisplay-Bold.woff') format('woff'),
        url('SFUIDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }